# Composer
composer.lock
/vendor

# Frontend
/node_modules
resources/dist/hot

# Testing
/build
/coverage
.phpunit.*
tests/__fixtures__

# IDE
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.idea
/.fleet
/.vscode
